*{
    margin: 0%;
    padding: 0%;
    height: auto;    
}

body{
    background-color: rgba(226, 221, 255, 0.9);
    height: auto;
    overflow-x: hidden;
    font-family: 'Oswald', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
/*NAVIGATION BAR*/

.navBar{
    height: auto;
    z-index: 100;
    position: fixed;
    width: 100%;
    overflow: hidden;
}

.navBar ul{
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

.navBar a{
    text-decoration: none;
    color: whitesmoke;
    padding: 13px 15px;
    display: block;
}

.navBar a:hover{
    background-color: rgba(10, 11, 97, 0.9);
}

/*MAIN DIVISION*/

.mainDivision{
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

/* LEFT PART*/

.left{
    width: 28%;
    height: auto;
    margin: 0 auto;
}

.left-card{
    background-color:  rgba(242, 241, 247, 0.9);
    margin-bottom: 20px;
    height: auto;
    box-shadow: 0 4px 15px 0 rgba(78, 75, 75, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* LEFT PART - profile*/
.myPhoto{
    width: 100%;
    height: 270px;
    background-color: rgb(73, 57, 223);
    display: grid;
    align-content: center;
}

.myPhoto i{
    font-size: 650%;
    margin: 0 auto;
    color: white;
}

.left-card-text p{
    padding: 15px;
    font-size: 13px;
    font-weight: bold;
}

.left-card-text i{
    width: 24px;
    font-size: 15px;
    color: rgb(20, 20, 175);
}

/* LEFT PART - projects */

.left-card h3{
    text-align: center;
    padding: 20px;
    background-color: rgb(181, 198, 223);
}

.projects{
    display: grid;
    grid-template-columns: 70px auto;
    border-bottom: 1px solid rgb(168, 167, 167);
}

.projects img{
    height: 50px;
    width: 50px;
    margin: 5px auto;
    z-index: 1;
}

.projects p{
    padding: 10px 0;
}

.projects:hover{
    background-color: rgb(192, 201, 206);
}

/* RIGHT PART*/
.right{
    height: auto;
    width: 68%;
    margin: 0 auto;
}

.right-card{
    color: rgb(0, 0, 0);
    height: auto;
    max-width: 100%;
    background-color: rgba(242, 241, 247, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 40px 0;
    margin-bottom: 30px;
}

.right-card:first-child{
    padding: 0;
}

.right-card h2{
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.right-card i{
    color: rgb(20, 20, 175);
    width: 60px;
}

.right-content{
    padding: 20px;
}

/* RIGTH PART - About */

#About img{
    width: 100%;
    height: auto;
    display: block;
}

#About p{
    text-align: justify;
    font-size: 20px;
    margin-bottom: 30px;
}

/* RIGHT PART - Skills */
#Skills .right-content{
    display: flex;
    flex-direction: row;
}

#Skills h3{
    text-align: center;
    padding-bottom: 10px;
}

#Skills h4{
    text-align: center;
}

.tools, .languages{
    width: 49%;
    margin: 0 auto;
}

.tools:hover, .languages:hover{
    box-shadow: 0 0 6px rgb(73, 57, 223);
}

.skill-bar{
    width: 90%;
    height: 20px;
    margin: 20px auto;
    background-color: rgba(57, 59, 68, 0.9);
    border-radius: 10px;
}

.skill-perc{
    background-color: rgba(25, 71, 170, 0.9);
    height: 100%;
    z-index: 20;
    border-radius: 10px;
    text-align: center;
    color: whitesmoke;
}

#skill1{
    width: 80%;
}

#skill2{
    width: 90%;
}

#skill3{
    width: 70%;
}

#skill4{
    width: 70%;
}

#skill5{
    width: 50%;
}

#skill6{
    width: 100%;
}

#skill7{
    width: 80%;
}

#skill8{
    width: 30%;
}

/* RIGTH PART - Education */

.edu-item{
    margin-bottom: 10px;
    font-weight: bold;
    padding: 10px 0;
}

.edu-item > p:first-of-type{
    font-size: 20px;
    font-weight: bold;
}

.edu-item{
    border-bottom: 1px solid rgb(160, 207, 219);
}

.edu-item:last-of-type{
    border-bottom: 0;
}

/* FOOTER*/
footer{
    width: 100%;
    height: auto;
    padding: 30px 0;
    text-align: center;
    color: white;
    background-color: black;
    display: grid;
    grid-template-columns: 50px 50px;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

footer a{
    color: white;
    text-align: center;
    font-size: 30px;
}

footer h2{
    margin-bottom: 20px;
    font-weight: bold;
}

footer a:hover{
    color: seagreen;
}

/* RESPONSIVE*/

@media screen and (max-width: 593px){

    body{
        padding: 0%;
        margin: 0%;
        overflow-x: hidden;
        width: 100%;
    }

    .navBar{
        position: static;
        width: 100%;
    }

    .navBar ul{
        flex-direction: column;
        text-align: center;
    }

    .mainDivision{
        flex-direction: column;
        padding: 0%;
    }
    .left, .right{
        display: block;
        width: 100%;
    }

    #Skills .right-content{
        flex-direction: column;
    }

    .tools, .languages{
        width: 100%;
    }
}